@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border font-inter;
    }

    body {
        @apply overflow-x-hidden bg-bg-paper;
        animation: name 40s linear reverse;
    }
}

:root {
    /* LAYOUT SIZES */
    --dashboard-header-height: calc(24 * 4px);

    --container-width: 1440px;
}
